@model IEnumerable<Domain.Models.Student>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>


<div class="row">
    @foreach (var student in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@student.FirstName&nbsp;@student.LastName</h5>
                    <p class="card-text">
                        Id Card: @student.IdCard<br>
                        Group: @student.Group.Code<br>
                        Programme: @student.Group.Programme
                    </p>
                    <a href="/Student/Edit/@student.IdCard" class="btn btn-primary">Update Details</a>
                     
                    <a href="#" class="btn btn-primary">Delete Student</a>
                </div>
            </div>
        </div>
    }
</div>

